In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("input.csv")

In [38]:
df.head()

,titel,date,sumary,topic,source
0,IPL 2021,16/10/21,4th time chennai team won the titel,Sports,zeenews.com

In [39]:
import mysql.connector

In [40]:
!export PATH=${PATH}:/usr/local/mysql/bin/

In [41]:
import mysql.connector
import pandas as pd
from pyspark.sql import SparkSession

In [42]:
appName = "PySpark MySQL Example - via mysql.connector"
master = "local"

In [43]:
spark = SparkSession.builder.master(master).appName(appName).getOrCreate()

In [44]:
!export PATH=${PATH}:/usr/local/mysql/bin/

In [45]:
# Establish a connection
conn = mysql.connector.connect(user='root', database='NEWS',
                               password='Shriji@12')

In [46]:
cursor = conn.cursor()
query = "SELECT * FROM Articals"

In [47]:
# Create a pandas dataframe
pdf = pd.read_sql(query, con=conn)
conn.close()
# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(pdf)

df.show()

+--------+----------+--------------------+------+-------+
|   Tital|      Date|             Summary| Topic| Source|
+--------+----------+--------------------+------+-------+
|IPL 2021|2021-10-16|4th time chennai ...|Sports|zeenews|
+--------+----------+--------------------+------+-------+